@media screen and (max-width: 768px) {
    .quiz-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        text-align: center;
        height: 100vh;
        width: 100%;
        background-color: #ff9356;
    }
    .quiz-image {
        width: 350px;
        height: 350px;
    }
    .quiz-input-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .quiz-button {
        width: 150px;
        height: 50px;
        border: none;
        font-size: 18px;
    }
    .quiz-input {
        height: 40px;
        border-radius: 15px;
        background: #fff;
        color: #999;
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .quiz-all span {
        color: #fff;
        font-size: 24px;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .quiz-all p {
        color: #fff;
        text-align: center;
        font-size: 24px;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
@media screen and (max-width: 390px) {
    .quiz-all {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
        width: 100%;
        background-color: #ff9356;
    }
    .quiz-image {
        width: 250px;
        height: 250px;
    }
    .quiz-input-container {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .quiz-button {
        width: 100px;
        height: 50px;
        border: none;
        font-size: 18px;
    }
    .quiz-input {
        height: 40px;
        border-radius: 15px;
        background: #fff;
        color: #999;
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border: none;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .quiz-all span {
        color: #fff;
        font-size: 24px;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .quiz-all p {
        color: #fff;
        text-align: center;
        font-size: 24px;
        font-family: Inter;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
