@media screen and (max-width: 768px) {
    .start {
        background-color: #ff9356;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .start_img {
        width: 400px;
        height: 300px;
        padding-bottom: 10px;
    }
    .start_quiz {
        font-size: 20px;
        width: 500px;
        height: 150px;
        background-color: #ffc582;
        border-radius: 20px;
        position: relative;
        padding-top: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .start button {
        width: 100px;
        height: 40px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 390px) {
    .start {
        background-color: #ff9356;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        flex-direction: column;
    }
    .start_img {
        width: 320px;
        height: 200px;
        padding: 30px 30px;
    }
    .start_quiz {
        font-size: 15px;
        width: 300px;
        height: 200px;
        background-color: #ffc582;
        border-radius: 20px;
        position: relative;
        padding-top: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        line-height: 50px;
        margin-bottom: 20px;
    }
}
